.app-m-0 {
    text-align: center;
}

.app-progress-container {
    width: 200px;
    display: flex;
    margin: auto;
}

span {
    width: 46%;
}

.root-div {
    line-height: 2;
}

body {
    overflow: hidden !important;
}

.h1 {
    margin: auto;
}