html {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.main {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,30%);
  overflow: hidden;

  transition: width 0.5s ease, height 0.5s ease;

  &.opened {
    width: 100vmax;
  }

  &.second-opened {
    height: 100vh;
  }
}

.top-bar {
  display: flex;
}

.menu-icon {
  app-region: drag;
  margin-top: 4px;
  margin-left: 4px;
  opacity: 0.7;
  display: flex;
  width: 32px;
  min-width: 32px;
  height: 32px;
  user-select: none;
  //content: url("../assets/icon.svg");

  &.customizedMenuIcon {
    opacity: 0.5;
    border-radius: 20px;
  }

  transition: transform 0.5s ease, opacity 0.5s ease;

  &.enabled {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.icons-bar {
  display: flex;
  flex-direction: row;
}

.cursor-icon,
.write-icon,
.eraser-icon,
.random-icon,
.lock-icon,
.click-through-icon {
  margin-top: 4px;
  margin-left: 5px;
  width: 32px;
  height: 32px;
}

.cursor-icon {
  margin-left: 8px;

  &.disabled {
    content: url("../assets/cursor.png");

    &:hover {
      content: url("../assets/cursor-onFocus.png");
    }
  }

  &.enabled {
    content: url("../assets/cursor-enabled.png");

    &:hover {
      content: url("../assets/cursor-onFocus-enabled.png");
    }
  }
}

.write-icon {
  &.disabled {
    content: url("../assets/write.png");

    &:hover {
      content: url("../assets/write-onFocus.png");
    }
  }

  &.enabled {
    content: url("../assets/write-enabled.png");

    &:hover {
      content: url("../assets/write-onFocus-enabled.png");
    }
  }
}

.eraser-icon {
  &.disabled {
    content: url("../assets/eraser.png");

    &:hover {
      content: url("../assets/eraser-onFocus.png");
    }
  }

  &.enabled {
    content: url("../assets/eraser-enabled.png");

    &:hover {
      content: url("../assets/eraser-onFocus-enabled.png");
    }
  }
}

.random-icon {
  &.disabled {
    content: url("../assets/random.png");

    &:hover {
      content: url("../assets/random-onFocus.png");
    }
  }

  &.enabled {
    content: url("../assets/random-onFocus-enabled.png");

    &:hover {
      content: url("../assets/random-enabled.png");
    }
  }
}

.lock-icon {
  &.disabled {
    content: url("../assets/lock-locked.png");

    &:hover {
      content: url("../assets/lock-onFocus-locked.png");
    }
  }

  &.enabled {
    content: url("../assets/lock-unlocked.png");

    &:hover {
      content: url("../assets/lock-onFocus-unlocked.png");
    }
  }
}

.click-through-icon {
  &.disabled {
    content: url("../assets/click_through.png");

    &:hover {
      content: url("../assets/click_through-onFocus.png");
    }
  }

  &.enabled {
    content: url("../assets/click_through-enabled.png");

    &:hover {
      content: url("../assets/click_through-onFocus-enabled.png");
    }
  }
}