@import "windows-ui-fabric/dist/config/app-config.css";
@import "windows-ui-fabric/dist/windows-ui.min.css";
@import "windows-ui-fabric/dist/icons/winui-icons.min.css";

#root {
    /*width: 130px !important;*/
    /*height: 100% !important;*/
    /*display: block !important;*/
    /*position: absolute !important;*/
}

.app-progress-container {
    width: 120px;
    position: absolute;
    margin-top: 10px;
    right: 8px;
}

body {
    /*width: 120px !important;*/
    /*height: 180px !important;*/
    /*display: block !important;*/
    /*position: absolute !important;*/
    background-color: rgba(255, 255, 255, 80%) !important;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

#print {
    text-align: center;
    height: 50px;
    /*!*TEMP COLOR*!*/
    /*background-color: red;*/
}

#number {
    margin-top: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*!*TEMP COLOR*!*/
    /*background-color: blue;*/
}

button {
    margin: auto;
    border-radius: 0;
}

.win10-button {
    background-color: #f0f0f0 ;
    border: 1px solid #888888 ;
    padding: 13px 20px;
    line-height: 1px;
    cursor: pointer;
}

.win10-button:hover {
    border: 1px solid #a7d8fd;
}

.unselect {
    user-select: none;
}