body {
    width: 120px;
    height: 180px;
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 80%);
}

#print {
    text-align: center;
    height: 50px;
    /*!*TEMP COLOR*!*/
    /*background-color: red;*/
}

#number {
    margin-top: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*!*TEMP COLOR*!*/
    /*background-color: blue;*/
}

button {
    margin: auto;
}

.win10-button {
    background-color: #f0f0f0 ;
    border: 1px solid #888888 ;
    padding: 13px 20px;
    line-height: 1px;
    cursor: pointer;
}

.win10-button:hover {
    border: 1px solid #a7d8fd;
}

.unselect {
    user-select: none;
}