@import "windows-ui-fabric/dist/config/app-config.css";
@import "windows-ui-fabric/dist/windows-ui.min.css";
@import "windows-ui-fabric/dist/icons/winui-icons.min.css";

.app-progress-container {
    width: 120px;
    position: absolute;
    margin-top: 10px;
    right: 8px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    -webkit-overflow: hidden;
}

html {
    overflow: hidden;
}

.background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-user-drag: none;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 15px;
}

#print {
    text-align: center;
    height: 50px;
    /*!*TEMP COLOR*!*/
    /*background-color: red;*/
}

#number {
    margin-top: 20px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*!*TEMP COLOR*!*/
    /*background-color: blue;*/
}

button {
    margin: auto;
    border-radius: 0;
}

.win10-button {
    background-color: #f0f0f0 ;
    border: 1px solid #888888 ;
    padding: 13px 20px;
    line-height: 1px;
    cursor: pointer;
}

.win10-button:hover {
    border: 1px solid #a7d8fd;
}

.unselect {
    user-select: none;
}